.taskContainer {
    min-width: 50%;
    background-color: var(--black);
    padding: 1vh;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px var(--black);
    border: 1px var(--green) solid;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.taskTitle {
    font-size: large;
}
.date {
    font-size: smaller;
    font-weight: lighter;
}
.taskContainer:hover {
    transform: scale(1.01);
}
.taskDescription {

}
.taskActions {
    border-radius: 50%;
    padding: 10px;
    width: 24px;
    height: 24px;
    border: 1px transparent solid;
    transition: 0.2s;
}

.taskActions:hover {
    background-color: var(--black-lighter);
    border: 1px var(--green) solid;
    cursor: pointer;
}
