.appContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    width: 100%;
    background-color: var(--black);
    padding: 2vh 0px;
    text-align: center;
}
.listContainer {
    padding: 2vh;
    min-width: 50vw;
}

.formContainer {
    padding: 2vh;
    display: flex;
    gap: 1rem;
}
.comment {
    display: flex;
    align-items: center;
    justify-content: center;
}