:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --black: #131B23;
  --black-lighter: #1d242b;
  --gray: #839B93;
  --white: #E9F1F7;
  --blue: #2274A5;
  --green: #62A87C;
  padding: 0px;
}

* {
  margin: 0px;
}
body {
  background-color: var(--black-lighter);
}

.black-text {
    color: var(--black)
}
.white-text {
    color: var(--white)
}
.blue-text {
    color: var(--blue)
}
.green-text {
    color: var(--green)
}
.gray-text {
    color: var(--gray)
}

a {
  text-decoration-style: dotted;
  color: var(--blue);
}

ul {
  list-style: none;
}

input {
  padding: 10px;
  border: 1px var(--green) solid;
  border-radius: 10px;
  min-width: 120px;
  background-color: var(--black);
  transition: 0.2s;
  color: var(--green);
  font-weight: bolder;
}

.text-input:focus {
  outline-width: 2px;
  outline-style: dotted;
  outline-color: var(--green);
}

.button:hover {
  color: var(--white);
  background-color: var(--green);
}
